@model BenefitsCalculator.Models.HistGroupDetailsDTO

@{
    ViewData["Title"] = "Details";
}

<h2 class="mt-3 mb-3">Computation Result</h2>

<div class="row small">
    <div class="col-md-3 mb-1">
        <label class="form-label">
            <strong>
                Consumer:
            </strong>
        </label>
        <input asp-for="ConsumerName" class="form-control" readonly>
    </div>
    <span class="col-md-9"></span>
    <div class="col-md-3">
        <label class="form-label">
            <strong>
                Basic Salary:
            </strong>
        </label>
        <input asp-for="BasicSalary" class="form-control" readonly>
    </div>
    <div class="col-md-3">
        <label class="form-label">
            <strong>
                Guaranteed Issue:
            </strong>
        </label>
        <input asp-for="GuaranteedIssue" class="form-control" readonly>
    </div>
</div>
<div class="row">
    <table class="table mt-3">
        <thead class="table-dark">
            <tr>
                <th>
                    Multiple
                </th>
                <th>
                    Benefits Amount Quotation
                </th>
                <th>
                    Pended Amount
                </th>
                <th>
                    Benefits
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.BenefitsHistories)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Multiple)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.AmountQuotation)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PendedAmount)
                    </td>
                    <td>
                        @if (item.BenefitsStatus == BenefitsCalculator.Data.Entities.Status.Approved)
                        {
                            @Html.DisplayFor(modelItem => item.AmountQuotation)
                        }
                        else
                        {
                            <span>For Approval</span>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <a asp-action="Index" asp-route-id="@Model.ConsumerId">
        <input type="button" class="btn btn-primary mt-3" value="Back" />
    </a>
</div>
